<!DOCTYPE html>
<html ng-app="aula10">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{titulo}}</title>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>\
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">


	<script type="text/javascript">
		var app = angular.module('aula10',[]).run(function($rootScope){
			$rootScope.titulo = "Aula 10";


		})

		.service('BuscaFilmeAPI', function($http, $q){
			var servico = this;

			servico.BuscarFilme = function(Nome){
				var resultado = $q.defer();
				var urlAPI  = 'http://essearch.allocine.net/br/autocomplete?q=';

				$http({
					url: urlAPI +Nome
				}).then(function(response){
					
					var listaResultado = [];

					listaResultado = response.data.map(function(filmeAPI){
						return {
							titulo : (filmeAPI.title1)?filmeAPI.title1 : filmeAPI.title2,
							tituloOriginal:filmeAPI.title2,
							visualizacoes:filmeAPI.viewcount,
							urlCapa:filmeAPI.thumbnail,
							infoAdiciona:filmeAPI.metadata.map(function(metaDataAPI){
								return {
									legenda:metaDataAPI.property,
									descricao:metaDataAPI.value
								}
							})

						};

					});

					resultado.resolve(listaResultado);
				
				}, function(){
					resultado.reject();	
				})

				return resultado.promise;
			}

		})
		
		.controller('ListaController',function(BuscaFilmeAPI){
			var ctrl = this;
			ctrl.titulo = "Encontre seu filme";
			ctrl.textoBuca = null;
			ctrl.lista = [];

			ctrl.Buscar = function(){
				BuscaFilmeAPI.BuscarFilme(ctrl.textoBusca).then(function(oLista){
					ctrl.lista = oLista;
				})

			}

		});




	</script>

</head>
<body>


	<div class="container">
			<div class="jumbotron">
				<h1>{{titulo}}</h1>
			</div>

			<div class="panel panel-default" ng-controller="ListaController as lc"  >
				<div class="panel-heading">{{lc.titulo}}</div>
				<div class="panel-body">
					<div class="col-lg-12">
					    <div class="input-group">
					      <input type="text" ng-model="lc.textoBusca" class="form-control" placeholder="Buscar Por...">
					      <span class="input-group-btn">
					        <button class="btn btn-default" ng-click= "lc.Buscar();" type="button">Buscar</button>
					      </span>
					    </div><!-- /input-group -->
					  </div><!-- /.col-lg-6 -->
					</div><!-- /.row -->

					<h3 ng-show="lc.lista.length >0 "> Filmes encontrados </h3>	
					<ul class="lista-filme">
						<li ng-repeat="filme in lc.lista">
							<img ng-src="{{filme.urlCapa}}"/>
							{{filme.titulo}} 
						</li>

					</ul>

				</div>
			</div>	
	</div>


</body>
</html>
<!--Continuar a partir de 9:28 -->