<!DOCTYPE html>
<html ng-app="Aula4">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Aula 4</title>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>\
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

	<script type="text/javascript">
		var app = angular.module('Aula4',[]);
		app.controller('aula4Controller',function($scope){
			
			$scope.nomeListaPessoas = 'Lista de Pessoas';	

			$scope.listaPessoas=[];

			$scope.pessoa1 = {
								"nome":"Roger",
								"idade":34,
								"pais":"Brasil"
							 };

			 $scope.pessoa2 = {
				"nome":"João",
				"idade":23,
				"pais":"Brasil"
			 };

			$scope.listaPessoas.push($scope.pessoa1);
			$scope.listaPessoas.push($scope.pessoa2);


			$scope.incluirPessoas = function(sNome,iIdade,sPais){
				$scope.listaPessoas.push({
											nome: sNome, 
											idade: iIdade, 
											pais:sPais
										});
			};


			$scope.excluirPessoa = function(sNome){

				var listaPessoasNovas = $scope.listaPessoas.filter(
													function(pessoa){	
														return pessoa.nome != sNome;
													});
				$scope.listaPessoas = listaPessoasNovas;
			}
		});

	</script>

</head>
<body ng-controller="aula4Controller">
    
	<div class="container">
	    
	    <div class="jumbotron">
	    	<h1>Aula 4</h1>	
	    	<p></p>
	    	<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn More</a></p>
		</div>	
	

		<div class="panel panel-default">
			<div class="panel-heading">{{nomeListaPessoas}}</div>
				<div class="panel-body">
					<ul>
						
						<li ng-repeat="pessoa in listaPessoas">

							<div class="panel panel-default">
								<div class="panel-heading">{{pessoa.nome}}</div>
							
								<div class="panel-body">
									<ul>
										<li>Idade:{{pessoa.idade}}</li>
										<li>Pais:{{pessoa.pais}}</li>
									</ul>
									<button class="btn btn-default" ng-click="excluirPessoa(pessoa.nome);">Excluir</button>
								</div>	
							
							</div>	
						
						</li>
					
					</ul>
			</div>
		</div>

	</div> <!--fim da div do container -->




</body>
</html>


<!--
--Continuar a partir do minuto 1
https://www.youtube.com/watch?v=OJfquGQvMog
AngularJS - Fazendo Show com Click - Aula 5 a partir de 09:06
file:///home/roberto/Documentos/Dev/Estudo/Projetos/Sistemas/CodigoTop/Aula%204/index.html
-->

